/* Created by: Mr. Coxall
* Created on: Sep 2022
* This CSS file defines the style for index.html Assignment#1
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout_content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/

.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #532499;
  text-align: center;
}

h1 {
  background-color: #2a0542;
  color: #fff;
}

p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}
